# apps
alias v="nvim"
alias sv="sudo nvim"
alias c="code-insiders ."
alias vfm=~/.config/vifm/scripts/vifmrun

# yarn
alias y="yarn install"
alias yst="yarn start"
alias yd='yarn dev'

# npm
alias n='npm install'
alias nst='npm run start'
alias nd='npm run dev'


# Replace legacy tools with new ones
if [ "$(command -v exa)" ]; then
    unalias -m 'll'
    unalias -m 'l'
    unalias -m 'la'
    unalias -m 'ls'
    alias ls='exa -G  --color auto --icons -a -s type'
    alias ll='exa -l --color always --icons -a -s type'
fi

# Colorized cat.
if [ "$(command -v bat)" ]; then
    unalias -m 'cat'
    alias cat='bat -pp --theme="ansi-dark"'
fi

# git 
function gc { git commit -m "$@"; }
alias gs="git status"
alias gp="git pull"
alias gf="git fetch"
alias gpush="git push"
alias ga="git add ."
alias	gl="git log --graph --abbrev-commit --decorate --date=relative \
  --format=format:'%C(red)%h%C(r) —— %C(bold blue)%an%C(r): %C(white)%s%C(r) \
  %C(dim white) %C(bold green)(%ar)%C(r) %C(bold yellow)%d%C(r)' --all"

# scripts
alias wp='feh --randomize --bg-fil ~/wallpapers/*'
alias vtop='vtop --theme nord'
