# apps
alias v="nvim"
alias sv="sudo -E nvim"
alias za="zathura"
alias m="mpv"
alias yt="youtube-dl"
alias c="code ."
alias open="xdg-open"
alias up='topgrade'
alias vfm=~/.config/vifm/scripts/vifmrun
alias mbsync="mbsync -c \"$XDG_CONFIG_HOME/isync/mbsyncrc\""
alias tsm='transmission-remote'
alias cfg='git --git-dir=$HOME/.cfg/ --work-tree=$HOME'

# youtube-dl
alias yta-best="youtube-dl --extract-audio --audio-format best "
alias yta-mp3="youtube-dl --extract-audio --audio-format mp3 "
alias ytb="youtube-dl -f bestvideo+bestaudio "

alias updt_nvim="cd ~/.config/nvim && git submodule foreach git pull origin master"

### ARCHIVE EXTRACTION
# usage: ex <file>
ex ()
{
  if [ -f $1 ] ; then
    case $1 in
      *.tar.bz2)   tar xjf $1   ;;
      *.tar.gz)    tar xzf $1   ;;
      *.bz2)       bunzip2 $1   ;;
      *.rar)       unrar x $1   ;;
      *.gz)        gunzip $1    ;;
      *.tar)       tar xf $1    ;;
      *.tbz2)      tar xjf $1   ;;
      *.tgz)       tar xzf $1   ;;
      *.zip)       unzip $1     ;;
      *.Z)         uncompress $1;;
      *.7z)        7z x $1      ;;
      *.deb)       ar x $1      ;;
      *.tar.xz)    tar xf $1    ;;
      *.tar.zst)   unzstd $1    ;;      
      *)           echo "'$1' cannot be extracted via ex()" ;;
    esac
  else
    echo "'$1' is not a valid file"
  fi
}

# navigation
alias ..='cd ..' 
alias ...='cd ../..'
alias .3='cd ../../..'
alias .4='cd ../../..'
alias .5='cd ../../../..'
alias .6='cd ../../../../..'

# yarn
alias y="yarn"
alias yst="yarn start"
alias yd='yarn dev'

# npm
alias n='npm'
alias ni='npm install'
alias nst='npm run start'
alias nd='npm run dev'

# tmux
alias t="tmux"
alias ta="t a -t"
alias tls="t ls"
alias tn="t new -t"
alias tk="t kill-session -t"

# Replace legacy tools with new ones
if [ "$(command -v exa)" ]; then
    unalias -m 'll'
    unalias -m 'l'
    unalias -m 'la'
    unalias -m 'ls'
    alias ls='exa -G  --color auto --icons -a -s type'
    alias ll='exa -l --color always --icons -a -s type'
fi

# Colorized cat.
if [ "$(command -v bat)" ]; then
    unalias -m 'cat'
    alias cat="bat -p -p --theme=gruvbox"
fi

# git 
alias g='git'
alias gs="git status"
alias ga="git add"
alias gc="git commit"
alias gpl="git pull"
alias gplom="git pull origin master"
alias gf="git fetch"
alias gm='git merge'
alias gch='git checkout'
alias gnb='git checkout -b'
alias gpu="git push"
alias gcl='git clone'
alias gundo="git reset --soft HEAD^ && git reset all"
alias	gl="git log --graph --abbrev-commit --decorate --date=relative \
  --format=format:'%C(red)%h%C(r) —— %C(bold blue)%an%C(r): %C(white)%s%C(r) \
  %C(dim white) %C(bold green)(%ar)%C(r) %C(bold yellow)%d%C(r)' --all"
alias gsa="git submodule add"

# scripts
alias wp='feh --randomize --bg-fil ~/wallpapers/*'
alias rsfetch='rsfetch -N -d -e  -l -r -s -t -u -w -p pacman'
alias reload='source ~/.config/zsh/.zshrc'

alias cfa="nvim $HOME/.config/alacritty/alacritty.yml"
alias cfz="nvim $HOME/.config/zsh/.zshrc"
alias cfp="nvim $HOME/.config/polybar/config-top.ini"
alias cfb="nvim $HOME/.config/bspwm/bspwmrc"
alias cfs="nvim $HOME/.config/sxhkd/sxhkdrc"
alias cfv="nvim $HOME/.config/nvim/init.vim"
