# apps
alias v="nvim"
alias sv="sudo nvim"
alias z="zathura"
alias m="mpv"
alias c="code-insiders ."
alias vfm=~/.config/vifm/scripts/vifmrun

  
alias pangen="/home/ashraf/projects/panGen/pangen.sh"

# yarn
alias y="yarn install"
alias yst="yarn start"
alias yd='yarn dev'

# npm
alias n='npm install'
alias nst='npm run start'
alias nd='npm run dev'

# tmux
alias t="tmux"
alias ta="t a -t"
alias tls="t ls"
alias tn="t new -t"

# Replace legacy tools with new ones
if [ "$(command -v exa)" ]; then
    unalias -m 'll'
    unalias -m 'l'
    unalias -m 'la'
    unalias -m 'ls'
    alias ls='exa -G  --color auto --icons -a -s type'
    alias ll='exa -l --color always --icons -a -s type'
fi

# Colorized cat.
if [ "$(command -v bat)" ]; then
    unalias -m 'cat'
    alias cat='bat -pp --theme="Nord"'
fi

# git 
alias g='git'
alias gs="git status"
alias ga="git add"
alias gc="git commit"
alias gpl="git pull"
alias gplom="git pull origin master"
alias gf="git fetch"
alias gm='git merge'
alias gch='git checkout'
alias gnb='git checkout -b'
alias gpu="git push"
alias gcl='git clone'
alias	gl="git log --graph --abbrev-commit --decorate --date=relative \
  --format=format:'%C(red)%h%C(r) —— %C(bold blue)%an%C(r): %C(white)%s%C(r) \
  %C(dim white) %C(bold green)(%ar)%C(r) %C(bold yellow)%d%C(r)' --all"

# scripts
alias wp='feh --randomize --bg-fil ~/wallpapers/*'
alias vtop='vtop --theme nord'
alias rsfetch='rsfetch -N -d -e  -l -r -s -t -u -w -p pacman'
alias reload='source ~/.config/zsh/.zshrc'

alias cfa="nvim $HOME/.config/alacritty/alacritty.yml"
alias cfz="nvim $HOME/.config/zsh/.zshrc"
alias cfp="nvim $HOME/.config/polybar/config-top.ini"
alias cfb="nvim $HOME/.config/bspwm/bspwmrc"
alias cfs="nvim $HOME/.config/sxhkd/sxhkdrc"
alias cfv="nvim $HOME/.config/nvim/init.vim"
