qutebrowser/.config/qutebrowser/whitelist.py eol=lf filter=ageencrypt
qutebrowser/.config/qutebrowser/bookmarks/urls eol=lf filter=ageencrypt
qutebrowser/.config/qutebrowser/quickmarks eol=lf filter=ageencrypt
shell/.config/shell/private-envs eol=lf filter=ageencrypt
