node_modules

# x11
theme.Xresources

# nnn
watch_later
playlists
sessions
.selection

# qutebrowser
bookmarks
quickmarks
autoconfig.yml
qsettings
__pycache__
readability.html

# zsh
theme.zsh

# tmux
theme.conf
tmux/.local/share/tmux/plugins/

# ncspot
userstate.cbor

# resolved
resolved/systemd/resolved.conf
