qutebrowser/.config/qutebrowser/whitelist.py filter=ageencrypt eol=lf
qutebrowser/.config/qutebrowser/bookmarks/urls filter=ageencrypt eol=lf
qutebrowser/.config/qutebrowser/quickmarks filter=ageencrypt eol=lf
shell/.config/shell/private-envs filter=ageencrypt eol=lf
