qutebrowser/.config/qutebrowser/whitelist.py filter=ageencrypt
qutebrowser/.config/qutebrowser/bookmarks/urls filter=ageencrypt
qutebrowser/.config/qutebrowser/quickmarks filter=ageencrypt
shell/.config/shell/private-envs filter=ageencrypt
