[submodule "zsh/.config/zsh/plugins/zsh-autosuggestions"]
	path = zsh/.config/zsh/plugins/zsh-autosuggestions
	url = git@github.com:zsh-users/zsh-autosuggestions.git
[submodule "zsh/.config/zsh/plugins/zsh-completions"]
	path = zsh/.config/zsh/plugins/zsh-completions
	url = git@github.com:zsh-users/zsh-completions.git
[submodule "zsh/.config/zsh/plugins/zsh-syntax-highlighting"]
	path = zsh/.config/zsh/plugins/zsh-syntax-highlighting
	url = git@github.com:zsh-users/zsh-syntax-highlighting.git
[submodule "zsh/.config/zsh/base16-fzf"]
	path = zsh/.config/zsh/base16-fzf
	url = git@github.com:tinted-theming/base16-fzf.git
[submodule "x11/.config/x11/base16-xresources"]
	path = x11/.config/x11/base16-xresources
	url = git@github.com:tinted-theming/base16-xresources.git
[submodule "zsh/.config/zsh/plugins/zsh-you-should-use"]
	path = zsh/.config/zsh/plugins/zsh-you-should-use
	url = git@github.com:MichaelAquilina/zsh-you-should-use.git
[submodule "zsh/.config/zsh/plugins/gitstatus"]
	path = zsh/.config/zsh/plugins/gitstatus
	url = git@github.com:romkatv/gitstatus.git
[submodule "nnn/.local/src/nnn"]
	path = nnn/.local/src/nnn
	url = git@github.com:jarun/nnn.git
[submodule "tmux/.local/share/tmux/plugins/tpm"]
	path = tmux/.local/share/tmux/plugins/tpm
	url = git@github.com:tmux-plugins/tpm.git
[submodule "qutebrowser/.local/src/qutebrowser"]
	path = qutebrowser/.local/src/qutebrowser
	url = git@github.com:qutebrowser/qutebrowser.git
[submodule "mpv/.local/src/uosc"]
	path = mpv/.local/src/uosc
	url = git@github.com:tomasklaen/uosc.git
[submodule "mpv/.local/src/thumbfast"]
	path = mpv/.local/src/thumbfast
	url = git@github.com:po5/thumbfast.git
[submodule "mpv/.local/src/memo"]
	path = mpv/.local/src/memo
	url = git@github.com:po5/memo.git
