[submodule "zsh/.config/zsh/plugins/zsh-autosuggestions"]
	path = zsh/.config/zsh/plugins/zsh-autosuggestions
	url = git@github.com:zsh-users/zsh-autosuggestions.git
[submodule "zsh/.config/zsh/plugins/zsh-completions"]
	path = zsh/.config/zsh/plugins/zsh-completions
	url = git@github.com:zsh-users/zsh-completions.git
[submodule "zsh/.config/zsh/plugins/zsh-syntax-highlighting"]
	path = zsh/.config/zsh/plugins/zsh-syntax-highlighting
	url = git@github.com:zsh-users/zsh-syntax-highlighting.git
[submodule "zsh/.config/zsh/base16-fzf"]
	path = zsh/.config/zsh/base16-fzf
	url = git@github.com:tinted-theming/base16-fzf.git
[submodule "x11/.config/x11/base16-xresources"]
	path = x11/.config/x11/base16-xresources
	url = git@github.com:tinted-theming/base16-xresources.git
[submodule "zsh/.config/zsh/plugins/zsh-you-should-use"]
	path = zsh/.config/zsh/plugins/zsh-you-should-use
	url = git@github.com:MichaelAquilina/zsh-you-should-use.git
[submodule "zsh/.config/zsh/plugins/gitstatus"]
	path = zsh/.config/zsh/plugins/gitstatus
	url = git@github.com:romkatv/gitstatus.git
[submodule "nnn/.local/src/nnn"]
	path = nnn/.local/src/nnn
	url = git@github.com:jarun/nnn.git
[submodule "qutebrowser/.local/src/qutebrowser"]
	path = qutebrowser/.local/src/qutebrowser
	url = git@github.com:qutebrowser/qutebrowser.git
[submodule "mpv/.local/src/uosc"]
	path = mpv/.local/src/uosc
	url = git@github.com:tomasklaen/uosc.git
[submodule "mpv/.local/src/thumbfast"]
	path = mpv/.local/src/thumbfast
	url = git@github.com:po5/thumbfast.git
[submodule "mpv/.local/src/memo"]
	path = mpv/.local/src/memo
	url = git@github.com:po5/memo.git
[submodule "tmux/.local/share/tmux/plugins/tmux-yank"]
	path = tmux/.local/share/tmux/plugins/tmux-yank
	url = git@github.com:tmux-plugins/tmux-yank.git
[submodule "tmux/.local/share/tmux/plugins/tinted-tmux"]
	path = tmux/.local/share/tmux/plugins/tinted-tmux
	url = git@github.com:tinted-theming/tinted-tmux.git
[submodule "tmux/.local/share/tmux/plugins/catppuccin"]
	path = tmux/.local/share/tmux/plugins/catppuccin
	url = git@github.com:catppuccin/tmux.git
[submodule "x11/.config/x11/catppuccin-xresources"]
	path = x11/.config/x11/catppuccin-xresources
	url = git@github.com:catppuccin/xresources.git
[submodule "qutebrowser/.config/qutebrowser/catppuccin"]
	path = qutebrowser/.config/qutebrowser/catppuccin
	url = git@github.com:catppuccin/qutebrowser.git
[submodule "bat/.local/src/catppuccin-bat"]
	path = bat/.local/src/catppuccin-bat
	url = git@github.com:catppuccin/bat.git
[submodule "git/.config/git/catppuccin-delta"]
	path = git/.config/git/catppuccin-delta
	url = git@github.com:catppuccin/delta.git
[submodule "lazygit/.local/src/base16-lazygit"]
	path = lazygit/.local/src/base16-lazygit
	url = https://git.sr.ht/~blueingreen/base16-lazygit
[submodule "lazygit/.local/src/catppuccin-lazygit"]
	path = lazygit/.local/src/catppuccin-lazygit
	url = git@github.com:catppuccin/lazygit.git
[submodule "zathura/.local/src/base16-zathura"]
	path = zathura/.local/src/base16-zathura
	url = git@github.com:HaoZeke/base16-zathura.git
[submodule "zathura/.local/src/catppuccin-zathura"]
	path = zathura/.local/src/catppuccin-zathura
	url = git@github.com:catppuccin/zathura.git
[submodule "tmux/.local/share/tmux/plugins/tmux-fingers"]
	path = tmux/.local/share/tmux/plugins/tmux-fingers
	url = git@github.com:Morantron/tmux-fingers.git
[submodule "dunst/.local/src/base16-dunst"]
	path = dunst/.local/src/base16-dunst
	url = git@github.com:tinted-theming/base16-dunst.git
[submodule "dunst/.local/src/catppuccin-dunst"]
	path = dunst/.local/src/catppuccin-dunst
	url = git@github.com:catppuccin/dunst.git
