node_modules

# x11
theme.Xresources

# nnn
watch_later
playlists
sessions
.selection

# qutebrowser
autoconfig.yml
qsettings
__pycache__
theme.py
readability.html

# zsh
theme.zsh

# tmux
theme.conf

# ncspot
userstate.cbor

# git
delta-theme.gitconfig
