!! Transparency (0-1):
*.alpha: 1.0

!! Set a default font and font size as below:
*.font: InconsolataForPowerline Nerd Font 11

#define gruvbox0 #1d2021
#define gruvbox1 #282828
#define gruvbox2 #32302f
#define gruvbox3 #928374
#define gruvbox4 #a89984
#define gruvbox5 #ebdbb2
#define gruvbox6 #cc241d
#define gruvbox7 #fb4934
#define gruvbox8 #98971a
#define gruvbox9 #b8bb26
#define gruvbox10 #d79921
#define gruvbox11 #fabd2f
#define gruvbox12 #458588
#define gruvbox13 #83a598
#define gruvbox14 #b16286
#define gruvbox15 #d3869b
#define gruvbox16 #689d6a
#define gruvbox17 #8ec07c

#define modus0  #000000
#define modus1  #000000
#define modus2  #555555
#define modus3  #555555
#define modus4  #eeeeee
#define modus5  #ffffff
#define modus6  #ff8059
#define modus7  #ffa0a0
#define modus8  #00fc50
#define modus9  #88cf88
#define modus10 #eecc00
#define modus11 #d2b580
#define modus12 #458588
#define modus13 #29aeff
#define modus14 #feacd0
#define modus15 #e0b2d6
#define modus16 #00d3d0
#define modus17 #a0bfdf

! hard contrast: *background: modus0
*.background: modus0
! *background: modus1
! soft contrast: *background: modus2
*.foreground: modus5
! Black + DarkGrey
*.color0:  modus1
*.color8:  modus3
! DarkRed + Red
*.color1:  modus6
*.color9:  modus7
! DarkGreen + Green
*.color2:  modus8
*.color10: modus9
! DarkYellow + Yellow
*.color3:  modus10
*.color11: modus11
! DarkBlue + Blue
*.color4:  modus12
*.color12: modus13
! DarkMagenta + Magenta
*.color5:  modus14
*.color13: modus15
! DarkCyan + Cyan
*.color6:  modus16
*.color14: modus17
! LightGrey + White
*.color7:  modus4
*.color15: modus5

! dwm config
dwm.normbgcolor: modus0
dwm.normbordercolor: modus1
dwm.normfgcolor: modus5
dwm.selbgcolor: modus16
dwm.selbordercolor: modus16
dwm.selfgcolor: modus1
dwm.borderpx: 3
dwm.snap: 32
dwm.showbar: 1
dwm.topbar: 1
dwm.nmaster: 1
dwm.resizehints: 1
dwm.mfact: 0.50
