spawn-at-startup "wl-paste" "--type" "text"  "--watch" "cliphist" "store"
spawn-at-startup "wl-paste" "--type" "image" "--watch" "cliphist" "store"
spawn-at-startup "~/.config/setbg"
spawn-at-startup "start-dunst"
spawn-at-startup "waybar"
spawn-at-startup "/usr/lib/polkit-gnome/polkit-gnome-authentication-agent-1"
spawn-at-startup "openrgb" "--profile" "default_red.orp"

spawn-at-startup "gsettings" "set" "org.gnome.desktop.interface" "gtk-theme" "Qogir-Round-Dark"
spawn-at-startup "gsettings" "set" "org.gnome.desktop.interface" "icon-theme" "Qogir-Dark"
spawn-at-startup "gsettings" "set" "org.gnome.desktop.interface" "cursor-theme" "Qogir-Dark"
spawn-at-startup "gsettings" "set" "org.gnome.desktop.interface" "text-scaling-factor" "1"
spawn-at-startup "gsettings" "set" "org.gnome.desktop.interface" "cursor-size" "24"
spawn-at-startup "gsettings" "set" "org.gnome.desktop.interface" "color-scheme" "prefer-dark"

spawn-at-startup "ferdium"
spawn-at-startup "spotify-launcher"
spawn-sh-at-startup "$TERMINAL --class=neomutt-term -e bicon eg neomutt"
spawn-sh-at-startup "$TERMINAL --class=newsboat-term -e bicon eg newsboat"
