prefer-no-csd

cursor {
  hide-when-typing true
  xcursor-theme "Qogir-Dark"
  xcursor-size 24
  hide-after-inactive-ms 10000
}

input {
  keyboard {
    xkb {
      layout "us,ara"
      options "grp:lalt_lshift_toggle"
    }
    repeat-delay 300
    repeat-rate 30
  }


   focus-follows-mouse max-scroll-amount="0%"
}

output "DP-3" {
  mode "1920x1080@144"

  hot-corners {
    off
  }
}

window-rule {
  clip-to-geometry true
}

workspace "browser"
workspace "terminal"
workspace "lab"
workspace "gaming"
workspace "video"
workspace "email"
workspace "rss"
workspace "chat"
workspace "music"

recent-windows {
  off
}

layout {
  gaps 6

  focus-ring {
    width 2
    active-color "#82aaff"
    inactive-color "#3b4261"
    urgent-color "#ff5370"
  }

  tab-indicator {
    on
    place-within-column
    active-color "red"
    inactive-color "gray"
    urgent-color "blue"
  }

  preset-column-widths {
    proportion 0.33333
    proportion 0.5
    proportion 0.66667
    proportion 0.96
    proportion 1.0
  }

  preset-window-heights {
    proportion 0.33333
    proportion 0.5
    proportion 0.66667
    proportion 1.0
  }
}

spawn-at-startup "wl-paste" "--type" "text"  "--watch" "cliphist" "store"
spawn-at-startup "wl-paste" "--type" "image" "--watch" "cliphist" "store"
spawn-at-startup "~/.config/setbg"
spawn-at-startup "start-dunst"
spawn-at-startup "waybar"
spawn-at-startup "/usr/lib/polkit-gnome/polkit-gnome-authentication-agent-1"
spawn-sh-at-startup "command -v openrgb >/dev/null 2>&1 && openrgb --profile default_red.orp"

hotkey-overlay {
  skip-at-startup
}

window-rule {
  match app-id=r#"pavucontrol$"#
  open-floating true
  max-width 900
  max-height 600
  default-floating-position x=0 y=64 relative-to="top"
}

window-rule {
  match app-id="fzf-menu"
  match title="htop"
  open-floating true
}

animations {
  workspace-switch {
    off
  }

  window-open {
    off
  }

  window-close {
    off
  }

  horizontal-view-movement {
    spring damping-ratio=1.0 stiffness=800 epsilon=0.0001
  }

  window-movement {
    spring damping-ratio=1.0 stiffness=800 epsilon=0.0001
  }

  window-resize {
    spring damping-ratio=1.0 stiffness=800 epsilon=0.0001
  }
}


binds {
  Mod+Return { spawn-sh "$TERMINAL"; }

  Mod+D { spawn-sh "dmenu_path | fzf-menu --title='fzf-menu: Launcher' | bash"; }
  XF86Search { spawn-sh "dmenu_path | fzf-menu --title='fzf-menu: Launcher' | bash"; }

  Mod+E { spawn "emojiz" "-f"; }

  Mod+P { spawn "fzf-rbw"; }

  Mod+Shift+p { spawn "fzf-power"; }

  Mod+B { spawn-sh "$BROWSER"; }
  Mod+Shift+B { spawn-sh "$BROWSER --incognito"; }

  Mod+n { spawn-sh "$FILE_MANAGER"; }

  Mod+M { spawn-sh "$TERMINAL -t neomuttTerm -e bicon eg neomutt"; }
  Mod+s { spawn-sh "$TERMINAL -t newsboatTerm -e bicon eg newsboat"; }
  Mod+Z { spawn-sh "cliphist list | fzf-menu -ub | cliphist decode | wl-copy"; }

  Mod+Shift+X { spawn "swaylock"; }
  Mod+Shift+M { spawn-sh "$TERMINAL -t htop -e htop"; }

  Mod+Alt+0 { spawn "volume" "inc"; }
  Mod+Alt+9 { spawn "volume" "dec"; }
  Mod+Alt+8 { spawn "volume" "toggle"; }
  XF86AudioRaiseVolume { spawn "volume" "inc"; }
  XF86AudioLowerVolume { spawn "volume" "dec"; }
  XF86AudioMute        { spawn "volume" "toggle"; }
  XF86AudioMicMute     allow-when-locked=true { spawn-sh "wpctl set-mute @DEFAULT_AUDIO_SOURCE@ toggle"; }


  XF86AudioPlay        allow-when-locked=true { spawn-sh "playerctl play-pause"; }
  XF86AudioStop        allow-when-locked=true { spawn-sh "playerctl stop"; }
  XF86AudioPrev        allow-when-locked=true { spawn-sh "playerctl previous"; }
  XF86AudioNext        allow-when-locked=true { spawn-sh "playerctl next"; }

  Mod+O repeat=false { toggle-overview; }

  Mod+Shift+Q repeat=false { close-window; }

  Mod+Left  { focus-column-left; }
  Mod+Down  { focus-window-down; }
  Mod+Up    { focus-window-up; }
  Mod+Right { focus-column-right; }
  Mod+H     { focus-column-left; }
  Mod+J     { focus-window-down; }
  Mod+K     { focus-window-up; }
  Mod+L     { focus-column-right; }

  Mod+Shift+Left  { move-column-left; }
  Mod+Shift+Down  { move-window-down; }
  Mod+Shift+Up    { move-window-up; }
  Mod+Shift+Right { move-column-right; }
  Mod+Shift+H     { move-column-left; }
  Mod+Shift+J     { move-window-down; }
  Mod+Shift+K     { move-window-up; }
  Mod+Shift+L     { move-column-right; }

  Mod+Home { focus-column-first; }
  Mod+End  { focus-column-last; }
  Mod+Shift+Home { move-column-to-first; }
  Mod+Shift+End  { move-column-to-last; }

  Mod+Ctrl+Left  { focus-monitor-left; }
  Mod+Ctrl+Down  { focus-monitor-down; }
  Mod+Ctrl+Up    { focus-monitor-up; }
  Mod+Ctrl+Right { focus-monitor-right; }
  Mod+Ctrl+H     { focus-monitor-left; }
  Mod+Ctrl+J     { focus-monitor-down; }
  Mod+Ctrl+K     { focus-monitor-up; }
  Mod+Ctrl+L     { focus-monitor-right; }

  Mod+Shift+Ctrl+Left  { move-column-to-monitor-left; }
  Mod+Shift+Ctrl+Down  { move-column-to-monitor-down; }
  Mod+Shift+Ctrl+Up    { move-column-to-monitor-up; }
  Mod+Shift+Ctrl+Right { move-column-to-monitor-right; }
  Mod+Shift+Ctrl+H     { move-column-to-monitor-left; }
  Mod+Shift+Ctrl+J     { move-column-to-monitor-down; }
  Mod+Shift+Ctrl+K     { move-column-to-monitor-up; }
  Mod+Shift+Ctrl+L     { move-column-to-monitor-right; }

  Mod+U              { focus-workspace-down; }
  Mod+I              { focus-workspace-up; }
  Mod+Shift+U         { move-column-to-workspace-down; }
  Mod+Shift+I         { move-column-to-workspace-up; }

  Mod+Ctrl+U         { move-workspace-down; }
  Mod+Ctrl+I         { move-workspace-up; }

  Mod+WheelScrollDown      cooldown-ms=150 { focus-workspace-down; }
  Mod+WheelScrollUp        cooldown-ms=150 { focus-workspace-up; }
  Mod+Ctrl+WheelScrollDown cooldown-ms=150 { move-column-to-workspace-down; }
  Mod+Ctrl+WheelScrollUp   cooldown-ms=150 { move-column-to-workspace-up; }

  Mod+WheelScrollRight      { focus-column-right; }
  Mod+WheelScrollLeft       { focus-column-left; }
  Mod+Shift+WheelScrollDown      { focus-column-right; }
  Mod+Shift+WheelScrollUp        { focus-column-left; }

  Mod+1 { focus-workspace 1; }
  Mod+2 { focus-workspace 2; }
  Mod+3 { focus-workspace 3; }
  Mod+4 { focus-workspace 4; }
  Mod+5 { focus-workspace 5; }
  Mod+6 { focus-workspace 6; }
  Mod+7 { focus-workspace 7; }
  Mod+8 { focus-workspace 8; }
  Mod+9 { focus-workspace 9; }
  Mod+Shift+1 { move-column-to-workspace 1; }
  Mod+Shift+2 { move-column-to-workspace 2; }
  Mod+Shift+3 { move-column-to-workspace 3; }
  Mod+Shift+4 { move-column-to-workspace 4; }
  Mod+Shift+5 { move-column-to-workspace 5; }
  Mod+Shift+6 { move-column-to-workspace 6; }
  Mod+Shift+7 { move-column-to-workspace 7; }
  Mod+Shift+8 { move-column-to-workspace 8; }
  Mod+Shift+9 { move-column-to-workspace 9; }

  Mod+Tab { focus-workspace-previous; }

  Mod+BracketLeft  { consume-or-expel-window-left; }
  Mod+BracketRight { consume-or-expel-window-right; }

  Mod+Comma  { consume-window-into-column; }
  Mod+Period { expel-window-from-column; }

  Mod+R { switch-preset-column-width; }
  Mod+Shift+R { switch-preset-window-height; }
  Mod+Ctrl+R { reset-window-height; }
  Mod+Shift+F { maximize-column; }
  Mod+F { fullscreen-window; }
  Mod+Ctrl+F { expand-column-to-available-width; }

  Mod+C { center-column; }
  Mod+Ctrl+C { center-visible-columns; }

  Mod+Minus { set-column-width "-10%"; }
  Mod+Equal { set-column-width "+10%"; }
  Mod+Shift+Minus { set-window-height "-10%"; }
  Mod+Shift+Equal { set-window-height "+10%"; }

  Mod+V       { toggle-window-floating; }
  Mod+Shift+V { switch-focus-between-floating-and-tiling; }

  Mod+W { toggle-column-tabbed-display; }

  Print { screenshot; }
  Ctrl+Print { screenshot-screen; }
  Alt+Print { screenshot-window; }

  Mod+Escape allow-inhibiting=false { toggle-keyboard-shortcuts-inhibit; }

  Mod+Shift+C { quit; }
  Ctrl+Alt+Delete { quit; }
  // Mod+Shift+P { power-off-monitors; }
}
