layout {
  gaps 0
  background-color "transparent"

  focus-ring {
    on
    width 2
    active-color "#82aaff"
    inactive-color "#3b4261"
    urgent-color "#ff5370"
  }

  border {
    off
    width 2
    active-color "#82aaff"
    inactive-color "#505050"
    urgent-color "#9b0000"
  }

  tab-indicator {
    width 6
    gap 0
    length total-proportion=1.0
    position "top"
    place-within-column
  }

  preset-column-widths {
    proportion 0.33333
    proportion 0.5
    proportion 0.66667
    proportion 0.96
    proportion 1.0
  }

  preset-window-heights {
    proportion 0.33333
    proportion 0.5
    proportion 0.66667
    proportion 1.0
  }
}

overview {
  zoom 0.60
}
