layout {
  gaps 0
  background-color "transparent"

  focus-ring {
    on
    width 2
    active-color "#83a598"
    inactive-color "#504945"
    urgent-color "#fb4934"
  }

  border {
    on
    width 2
    active-color "#83a598"
    inactive-color "#3c3836"
    urgent-color "#fb4934"
  }

  tab-indicator {
    width 6
    gap 0
    length total-proportion=1.0
    position "top"
    place-within-column
  }

  preset-column-widths {
    proportion 0.33333
    proportion 0.5
    proportion 0.66667
    proportion 0.96
    proportion 1.0
  }

  preset-window-heights {
    proportion 0.33333
    proportion 0.5
    proportion 0.66667
    proportion 1.0
  }
}

overview {
  zoom 0.60
}
