prefer-no-csd

environment {
  ELECTRON_OZONE_PLATFORM_HINT "auto"
}

hotkey-overlay {
  skip-at-startup
}

recent-windows {
  off
}

cursor {
  hide-when-typing true
  xcursor-theme "Qogir-Dark"
  xcursor-size 24
  hide-after-inactive-ms 10000
}

animations {
  workspace-switch {
    off
  }

  window-open {
    off
  }

  window-close {
    off
  }

  horizontal-view-movement {
    spring damping-ratio=1.0 stiffness=800 epsilon=0.0001
  }

  window-movement {
    spring damping-ratio=1.0 stiffness=800 epsilon=0.0001
  }

  window-resize {
    spring damping-ratio=1.0 stiffness=800 epsilon=0.0001
  }
}
