layer-rule {
  match namespace="^notifications$"
  block-out-from "screencast"
}

layer-rule {
  match namespace="^swww-daemon$"
  place-within-backdrop true
}

window-rule {
  clip-to-geometry true
}

window-rule {
  match app-id="pavucontrol"
  match app-id="xdg-desktop-portal-gtk"
  match app-id="xdg-desktop-portal-gnome"
  match app-id="org.gnome.Nautilus"
  match app-id="system-config-printer"

  open-floating true
  default-column-width { proportion 0.45; }
  default-window-height { proportion 0.65; }
}


window-rule {
  match app-id="fzf-menu-img*"

  open-floating true
  default-column-width { proportion 0.45; }
  default-window-height { proportion 0.45; }
}


window-rule {
  match app-id=r#"thunar"#
  match app-id="yazi-term"

  open-floating true
  default-column-width { proportion 0.60; }
  default-window-height { proportion 0.80; }
}

window-rule {
  match app-id="brave-browser"
  match app-id="org.qutebrowser.qutebrowser"
  open-on-workspace "browser"
  open-maximized-to-edges true
}

window-rule {
  match app-id="neomutt-term"
  open-on-workspace "email"
  open-maximized-to-edges true
}

window-rule {
  match app-id="newsboat-term"
  open-on-workspace "rss"
  open-maximized-to-edges true
}

window-rule {
  match app-id="spotify"
  match app-id="org.strawberrymusicplayer.strawberry"
  open-on-workspace "music"
  default-column-width { proportion 0.96; }
}

window-rule {
  match app-id="ferdium"
  match app-id="org.telegram.desktop"
  match app-id="Slack"
  match app-id="discord"
  match app-id="vesktop"
  open-on-workspace "chat"
  default-column-width { proportion 0.96; }
}

window-rule {
  match app-id="fzf-menu*"
  match app-id=r#"^thunar$"# title=r#"^Rename "#
  match app-id=r#"FileRoller$"#
  match app-id="XEyes"
  match app-id="org.kde.kdeconnect.daemon"
  open-floating true
}

window-rule {
  match app-id="qalculate-gtk"
  open-floating true
  default-column-width { fixed 600; }
  default-window-height { fixed 600; }
}

window-rule {
  match app-id="sp-bc-term"
  match app-id="sp-trans-term"
  open-floating true
  default-column-width { proportion 0.45; }
  default-window-height { proportion 0.65; }
}

window-rule {
  match app-id="sp-htop-term"
  open-floating true
  default-column-width { proportion 0.75; }
  default-window-height { proportion 0.75; }
}

window-rule {
  match app-id="steam"
  match app-id="com.usebottles.bottles"
  match app-id="Azahar"
  match app-id="faugus-launcher"
  open-on-workspace "gaming"
}

window-rule {
  match app-id="mpv"
  match app-id="io.mpv.Mpv"
  match app-id="vlc"
  match app-id="org.videolan.VLC"
  open-maximized-to-edges true
  open-on-workspace "video"
}

window-rule {
  match app-id="gcr-prompter"
  match app-id="fzf-menu-rbw"
  match app-id="fzf-menu-clip"
  match app-id="neomutt-term"
  block-out-from "screencast"
}

window-rule {
  match is-window-cast-target=true

  focus-ring {
    active-color "#f38ba8"
  }
}
