[Desktop Entry]
Type=Application
Name=File Manager
Exec=/usr/bin/thunar %f
Terminal=false
MimeType=inode/directory
Categories=System;FileTools;FileManager;
Keywords=File;Manager;Management;Explorer;Launcher
