@import "/home/ashraf/.config/ricing/waybar.css";

/* global styles */
window#waybar {
  font-family: "JetBrainsMono Nerd Font", monospace;
  font-size: 16px;
  background: @background;
  color: @foreground;
}

#window {
  color: alpha(@foreground, 0.8);
  margin: 0 8px;
}

/* modules */
#custom-mail,
#pulseaudio.input,
#pulseaudio.output,
#disk.home,
#cpu,
#memory,
#clock.time,
#clock.date,
#tray,
#privacy,
#mpris {
  margin: 0 12px;
  padding: 0;
}

#custom-mail {
  color: @color5;
}

#pulseaudio.output,
#pulseaudio.input {
  color: @color14;
}

#pulseaudio.output.muted,
#pulseaudio.input.source-muted {
  color: @color3;
}

#clock.date {
  color: @color4;
}

#clock.time {
  color: @color2;
}

#custom-sep {
  color: @color8;
}

/* sys stats module */
#disk.home,
#cpu,
#memory {
  color: alpha(@color10, 0.9);
  font-size: 15px;
}

#cpu.warning,
#memory.warning {
  color: @color3;
}

#cpu.critical,
#memory.critical {
  color: @color1;
}

/* workspaces */
#workspaces button {
  color: @color7;
  padding: 0 10px;
  margin: 0;
  border: 0;
  border-radius: 0;
}

#workspaces button.focused,
#workspaces button.active {
  color: @color4;
}

#workspaces button.urgent {
  color: @color3;
}

#workspaces button:hover {
  background: alpha(@color4, 0.1);
}

/* tooltip */
tooltip {
  background: @background;
  border: 1px solid @color4;
  border-radius: 0;
}

tooltip label {
  color: @foreground;
}
