@import "/home/ashraf/.config/ricing/waybar.css";

/* global styles */
window#waybar {
  font-family: "JetBrainsMono Nerd Font", monospace;
  font-size: 16px;
  background: @base00;
  color: @base05;
}

#window {
  color: alpha(@base05, 0.8);
  margin: 0 8px;
}

/* modules */
#custom-mail,
#pulseaudio.input,
#pulseaudio.output,
#disk.home,
#cpu,
#memory,
#clock.time,
#clock.date,
#tray,
#privacy,
#mpris {
  margin: 0 12px;
  padding: 0;
}

#custom-mail {
  color: @base0E;
}

#pulseaudio.output,
#pulseaudio.input {
  color: @base0C;
}

#pulseaudio.output.muted,
#pulseaudio.input.source-muted {
  color: @base0A;
}

#clock.date {
  color: @base0D;
}

#clock.time {
  color: @base0B;
}

#custom-sep {
  color: @base03;
}

/* sys stats module */
#disk.home,
#cpu,
#memory {
  color: alpha(@base0B, 0.9);
  font-size: 15px;
}

#cpu.warning,
#memory.warning {
  color: @base0A;
}

#cpu.critical,
#memory.critical {
  color: @base08;
}

/* workspaces */
#workspaces button {
  color: @base05;
  padding: 0 10px;
  margin: 0;
  border: 0;
  border-radius: 0;
}

#workspaces button.focused,
#workspaces button.active {
  color: @base0D;
}

#workspaces button.urgent {
  color: @base0A;
}

#workspaces button:hover {
  background: alpha(@base0D, 0.1);
}

/* tooltip */
tooltip {
  background: @base00;
  border: 1px solid @base0D;
  border-radius: 0;
}

tooltip label {
  color: @base05;
}
