@define-color background #1e1e2e;
@define-color foreground #cdd6f4;

@define-color color0 #11111b;
@define-color color1 #f38ba8;
@define-color color2 #a6e3a1;
@define-color color3 #f9e2af;
@define-color color4 #89b4fa;
@define-color color5 #cba6f7;
@define-color color6 #94e2d5;
@define-color color7 #bac2de;

@define-color color8 #45475a;
@define-color color9 #eba0ac;
@define-color color10 #a6e3a1;
@define-color color11 #fab387;
@define-color color12 #b4befe;
@define-color color13 #f5c2e7;
@define-color color14 #89dceb;
@define-color color15 #cdd6f4;
